$color1: #652243;
$color2: #872e4e;
$color3: #bb435e;
$color4: #ff6673;
$color5: #ff9988;

$body-bg-color: #210;
$header-bg-color: #222120;
$main-font-color: #ddd;
$mobile-bg-menu-color: $header-bg-color;
$link-color-hover-active: rgb(80, 255, 11);
$tr-even-bg-color: $header-bg-color;
$tr-odd-bg-color: rgb(41, 41, 41);
